**/__pycache__
**/*pdf
**/*pkl
**/log*
**/*stf
**/*png
**/*.mp4
**/*.csv
**/*.swp
pytomo/work/jp/output*/*
pytomo/work/ca/*/*
pytomo.egg-info
dist
build
venv
.idea
pip-wheel-metadata
**/*.pyc
pytomo/work/jp/clusters.txt
